<form action="{% url 'polls:vote' question.id %}" method="post">
<div class="container">
{% if user.is_authenticated %}
    Welcome, {{ user.username.title }}
    <br>
    <a href="{% url 'logout'%}">Logout</a>
{% else %}
    Please <a href="{% url 'login' %}?next={{request.path}}">Login</a>
{% endif %}
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        {% if choice == choice_selected %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" checked>
        {% else %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        {% endif %}
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
    <a href="{% url 'polls:results' question.id %}">Results</a><br>
</form>
<a href="{% url 'polls:index'%}" > Back</a>